#gallery {
    background-color: pink;
    display: flex;
    flex-direction: column;
    float: left;
}

#search {
    background-color: plum;
    float: right;
}

#buttons {
    background-color: powderblue;
    float: right;
    clear: both;
}

#add-animal {
    background-color: red;
    float: right;
}

.button-display {
    border-radius: 8px;
    background-color: silver;
}